.chat {
    background-color: lightgray;
    max-width: 300px;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message {
    background-color:yellow;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.message.fromBot {
    text-align: right;
    align-self: flex-end;
    background-color: red;
}
.message-field {

}

.message-field .texts {
    width: 80%;
}